
#superwiki_edit_form textarea.uploading {
    background: url("@{image-path}/ajax_indicator_small.gif") bottom right no-repeat;
    background-color: yellow;
}
#superwiki_edit_form textarea.hovered {
    background-color: @content-color-20;
    opacity: 1.0;
}
.superwiki_content img {
    max-width: 100%;
}

.full_wiki_page {
    background-color: white;
    overflow: auto;
    &:-moz-full-screen {
        padding: 10px;
    }
    &:-webkit-full-screen {
        padding: 10px;
    }
    &:-ms-fullscreen {
        padding: 10px;
    }
    &:fullscreen {
        padding: 10px;
    }
}

