
#superwiki_edit_form textarea.uploading {
    background: url("@{image-path}/ajax_indicator_small.gif") bottom right no-repeat;
    background-color: yellow;
}
#superwiki_edit_form textarea.hovered {
    background-color: @content-color-20;
    opacity: 1.0;
}
.superwiki_content img {
    max-width: 100%;
}

.superwiki_presentation, .superwiki_presentation + br {
    display: none;
}

#superwiki_presentation {
    background-color: white;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
    display: flex;
    align-items: flex-start;
    align-content: center;
    font-size: 1.7em;
    h1 {
        font-size: 2.0em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.3em;
    }
    h4, h5, h6 {
        font-size: 1.1em;
    }
    display: none;
    &:-moz-full-screen {
        display: flex;
    }
    &:-webkit-full-screen {
        display: flex;
    }
    &:-ms-fullscreen {
        display: flex;
    }
    &:fullscreen {
        display: flex;
    }
    > .slide {
        max-height: 100%;
        overflow: auto;
        display: none;
        width: 100%;
        &.active {
            display: block;
        }
    }
    ul, ol {
        display: inline-block;
        width: auto;
        text-align: left;
    }
}

